--extra-index-url https://download.pytorch.org/whl/cpu
torch--index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
pydantic
python-dotenv
requests
huggingface_hub
sentence-transformers
pinecone-client